/*
Import a font from Google Fonts by adding the following code.
In this case, Spline Sans
*/
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

body {
    height: 100%;
    font-family: 'Spline Sans', sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
}



main {
    max-width: 800px;
    min-width: 300px;
    margin:auto;
}



.feature {
    width: 250px;
    height:150px;
    padding: .75rem;
    border-radius: 1rem;
    transition: 0.3s;
    border: 1px solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: content-box;


}
/*
You can add a hover effect to the feature class by adding the following code.
Hover means that when the mouse is over the feature class,
the background color will change to #f3f4f6 and the border will change to 1px solid #52b788.
*/
.feature:hover {
    background-color: #f3f4f6;
    border: 1px solid #52b788;
}

.flex-row-example {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.styled-button {
    padding: .75rem 1rem;
    border-radius: 10px;
    background-color: #222;
    color:#f3f4f6;
    outline: none;
    border-style: none;
    cursor:pointer;
}

.styled-button:hover,
.styled-button:focus {
  opacity: .90;
}

.warning {
    background-color: #ec0909;
    
}

/*
As you can see, you can add multiple classes to the same element.
In this case, the element will have the styled-button and warning classes.
Inherit all the properties of the styled-button class and add the background-color property of the warning class.
*/

a {
    outline-color: transparent;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: blue;
  }
  

  
  a:focus,
  a:hover {
    border-bottom: 1px solid;
  }
  
  a:active {
    color: red;
  }
  
  a[href^="http"] {
    background: url("external-link-52.png") no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
  }

  pre {
    background-color: #f3f4f6;
    border-radius: .75rem;
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;       
    
  }

  

