:root {
  --background: hsl(0, 0%, 8%);
  --layer-1: hsl(0, 0%, 10%);
  --layer-2: hsl(0, 0%, 12%);
  --layer-3: hsl(0, 0%, 14%);
  --main-text: hsl(0, 0%, 95%);
  --secondary-text: hsl(0, 0%, 50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-text);
}
p,
span,
small {
  color: var(--secondary-text);
}
body {
  background-color: var(--background);
  color: var(--main-text);
}

.tweet {
  background-color: var(--layer-1);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--layer-2);
  width: 460px;
}
button {
  all: unset;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  text-align: inherit;
}

input {
  display: block;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid var(--layer-3);
  background-color: var(--layer-1);
  color: var(--main-text);
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
input:focus {
  outline: 1px solid var(--layer-3);
  border: 1px solid var(--layer-3);
}
input:active {
  outline: 1px solid var(--layer-3);
  border: 1px solid var(--layer-3);
}

.like-button:hover {
  background-color: var(--layer-3);
  transition: background-color 0.2s;
}

.sign-in-form {
  background-color: var(--layer-1);
}

.card-product-img {
  object-fit: cover;
  height: 150px;
}